{% extends 'webapp/base.html' %}


{% block title %}
Главная страница сайта
{% endblock %}


{% block content %}
<h1 align ="center">Публикации</h1>
{% if WebTable %}
{% for element in WebTable %}
    <div class="alert alert-success" role="alert">
        <h3>{{ element.name}}</h3>
        <p>Источник: {{ element.source }}</p>
        <p>Тип: {{ element.publicationType }}</p>
        <p>Количество страниц: {{ element.number_of_pages }}</p>
        <p>ID автора: {{ element.author_id }}</p>
    </div>
{% endfor %}
{% else %} 
<h1>Нет записей!</h1>
{% endif %}
{% endblock %}